

    <main class="statistics" id="analysis">
        <div class="top">
            <h2>Analysis Report</h2>
            <p>We provide a clear and understandable analysis reports for each month</p>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-4 col-sm-4 justify-content-center align-items-center">
                <div class="month-selector">
                    <select id="month" class="form-select" onchange="changeMonth()" style="color: black;">
                        <option selected disabled>Select Month</option>
                        <option value="Jan">January</option>
                        <option value="Feb">February</option>
                        <option value="Mar">March</option>
                        <option value="Apr">April</option>
                        <option value="May">May</option>
                        <option value="Jun">June</option>
                        <option value="Jul">July</option>
                        <option value="Aug">August</option>
                        <option value="Sep">September</option>
                        <option value="Oct">October</option>
                        <option value="Nov">November</option>
                        <option value="Dec">December</option>
                    </select>
                </div>
            </div>
        </div>

       
        <h3 class="text-center " id="incident-month">
            Incidents Analysis for <%= selectedMonth %>
        </h3>

        <div class="mt-4 d-flex justify-content-center flex-wrap" id="incident_button">
            <button class="btn btn-primary me-2" onclick="filterIncidents('fire')">Fire (<%= fireCount %>)</button>
            <button class="btn btn-danger me-2" onclick="filterIncidents('violence')">Violence (<%= violenceCount %>)</button>
            <button class="btn btn-warning me-2" onclick="filterIncidents('theft')">Theft (<%= theftCount %>)</button>
            <button class="btn btn-dark me-2" onclick="filterIncidents('vandalism')">Vandalism (<%= vandalismCount %>)</button>
            <button class="btn btn-secondary" onclick="filterIncidents('other')">Other (<%= otherCount %>)</button>
        </div>

        <!-- Card and Chart Section -->
        <div class="row mx-5">
            <div>
                <div class="row d-flex align-items-center gap-5">
                    <div class="card-num">
                        <div class="card-body" >
                            <p class="card-title fs-3 mb-2">Total Incidents</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <h3 class="card-subtitle fw-bold display-3">
                                    <%= totalIncident < 10 ? '0' + totalIncident : totalIncident %>
                                    <div class="card-text fs-3">
                                        <i class="fa-solid fa-arrow-up-right-dots"></i> Counting..
                                    </div>
                                </h3>
                            </div>
                          
                        </div>
                    </div>


 

                  
                      

                    <!-- <div class="shadow rounded">
                        <button id="change-chart" class="btn" style="background-color: rgb(32, 149, 188);color: #fff;">Change to Classic</button>
    <br>
    <br>
                        <div class="bg-light" id="chart-container" style="border-radius: 5px;">
                            <h5 style="color: black;">Incident Analysis Chart</h5>
                            <% if (showNoDataMessage) { %>
                                <p style="color: black;">No data available for <%= selectedMonth %>.</p>
                            <% } else { %>
                                <div id="chart" style="height: 500px; width: 800px; margin-left: -5pc;overflow: scroll;"></div>
                            <% } %>
                        </div>
                    </div> -->
                </div>
            </div>
            
          
        </div>
        
    </main>


